/*------Basics------*/
html *
{
   font-family: 'Source Sans Pro', sans-serif;
}

footer {
	background-color: #f6f1f1;
    margin-top: 50px;
}
footer p {
    font-size: 18px;
}
footer div {
    margin-top: 10px;
    margin-bottom: 20px;
}
body {
    background: snow;
}ı
h1, h2, h3, h4, h5, p, a{
	color: #54090e;
}
/*------Basics------*/



/*------NavBar------*/
#mainNavBar {
    margin-bottom: 0px;
    border: none;
    box-shadow: 0 1px 15px rgba(53, 10, 11, 0.4);
}
.mainBackgroundColor {
    background-color: #e90a15;
}
#brandTitle {
    font-size: 28px;
    text-decoration: none;
}
#mainNavBar .mainTextColor  {
    color: snow;
}
#mainNavBar button:hover {
    background: none;
}
#navbar-opened {
    max-height: 400px;
}
/*------NavBar------*/




/*------NavButton------*/
#mainNavBar .mainDashColor {
    background-color: snow;
}
#mainNavBar button:hover .mainDashColor {
    background-color: #980f18;
}
#mainNavBar button {
    border: none;
    border-color: snow;
}
/*------NavButton------*/




/*------NavMenu------*/
#navBarMenu {
    height: 100%;
    background: #e90a15;
    margin-bottom: 0px;
    margin-top: 0px;
}
#mainNavBar li:hover .mainTextColor  {
    background-color: rgba(255, 255, 255, 0.2);
}
.navItemPrimary{
    font-size: 22px;
}
.navItemSecondary{
    text-indent: 10px;
}
@media (min-width: 768px) {
    #navBarMenu {
        background: #e90a15;
    }
    .navItemPrimary {
        background: #e90a15;
        background-color: #e90a15;
    }
}
/*------NavMenu------*/


#mainView {
    padding-top: 50px;
    margin-bottom: -50px;
    background-image: url("pizza_1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*------Cards------*/
.topRow {
    margin-top: -50px;
}
.topCard {
    padding-top: 90px;
    margin-bottom: -50px;
}
.bottomCard {
    padding-top: 90px;
    margin-bottom: 40px;
}
.cardContainer {
    display: inline-block;
    position: relative;
    width: 100%;
}
.cardDummy {
    margin-top: 65%; /* 4:3 aspect ratio */
}
.cardContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: #e90a15;
    padding: 10%;
    text-align: center;
}
.cardContent p {
    font-size: 20px;
    margin-top: 5%;
    color: snow;
}
.cardContent span, .cardContent a {
    font-size: 30px;
    margin-top: 5%;
    color: snow;
    text-decoration: none;
}
.cardContent h2 {
    color: snow;
}
.cardFooter {
    background: snow;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.cardFooter p, .cardFooter span {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
#opening-header { 
    margin-top: 20px;
}
@media (max-width: 420px) {
    .bottomCard {
        padding-top: 60px;
        margin-bottom: 40px;
    }
    .cardContent {
        padding: 8%;
    }
    .cardContent p {
        font-size: 16px;
    }
    .cardContent span, .cardContent a {
        font-size: 24px;
    }
    .cardContent h2 {
        font-size: 24px;
    }
    .cardFooter {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .cardFooter p, .cardFooter span {
        font-size: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 332px) {
    .cardContent {
        padding: 5%;
    }
    .cardContent p {
        font-size: 14px;
    }
    .cardContent span, .cardContent a {
        font-size: 20px;
    }
    .cardContent h2 {
        font-size: 20px;
    }
    .cardFooter p, .cardFooter span {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
/*------Cards------*/

.no-padding {
    padding: 0px;
    background: snow;
}

/*------FoodMenuList------*/
#menuListHeader {
    margin-bottom: -50px;
    padding-top: 50px;
    text-align: center;
}
.menu-info {
    font-size: 18px;
    margin-top: 4px;
}
#menuTextColor {
    margin: 0px;
    padding: 10px;
    padding-left: 18px;
    color: snow;
    background: #e90a15;
    font-weight: normal;
}
#menuList {
    margin: 0px; /* Bootstrap lägger till margin?? (sidan blir för bred) */
    padding: 0px; /* Bootstrap lägger till padding?? (sidan blir för bred) */
}
#menuList ul {
    margin-bottom: 0px;
}
.menu-column {
    background-color: snow;
    padding: 0px;
    z-index: -1;
}
.menu-container {
    padding-top: 50px; /* Så det går att hoppa från navbaren */
}
#menuHeader {
    margin: 0px;
    padding: 10px;
    padding-left: 0px; 
    color: #e90a15;
    font-weight: normal;
}
.menuHeaderPrice {
    padding-top: 5px;
    color: #e90a15;
    font-weight: normal;
    font-size: 14px;
}
#menuHeaderContiner {
    padding-left: 18px;
    padding-right: 18px;
}
#menuItemSpanTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 16px;
    border-bottom: 1px solid #e90a15;
}
.menuItemPriceSpanTitle {
	display: flex;
    justify-content: space-between;
    width: 80px;
}
/*------FoodMenuList------*/



.menuExtra {
	color: #e90a15;
    width: 85%;
    font-weight: normal;
}
.listExtra {
    padding: 0px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 10px;
    list-style: none;
}

/*------FoodMenuListItem------*/
.listItem {
    padding: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    list-style: none;
    border-bottom: 1px solid #f6f1f1;
}
#menuItemSpan {
	display: flex;
    justify-content: space-between;
    width: 100%;
}
#menuItemName {
	padding-right: 20px;
    font-weight: normal;
}
.menuItemPriceSpan {
	display: flex;
    justify-content: space-between;
    width: 80px;
}
.menuItemPrice {
	color: #54090e;
}
.menuItemCross {
    color: #e90a15;
    margin-right: 13px;
}
.menuItemDescription {
	color: #54090e;
    width: 85%;
}
.my-text-yellow {
    color: #d2a520;
}
.my-text-green {
    color: #23ae29;
}
/*------FoodMenuListItem------*/