/*------Basics------*/
html *
{
   font-family: 'Source Sans Pro', sans-serif;
}

footer {
	background-color: #f6f1f1;
    margin-top: 50px;
}
footer p {
    font-size: 18px;
}
footer div {
    margin-top: 10px;
    margin-bottom: 20px;
}
body {
    background: snow;
}ı
h1, h2, h3, h4, h5, p, a{
	color: #54090e;
}
/*------Basics------*/



/*------NavBar------*/
#main-navbar {
    margin-bottom: 0px;
    border: none;
    box-shadow: 0 1px 15px rgba(53, 10, 11, 0.4);
}
.main-background-color {
    background-color: #e90a15;
}
#brand-title {
    font-size: 28px;
    text-decoration: none;
}
#main-navbar .main-text-color  {
    color: snow;
}
#main-navbar button:hover {
    background: none;
}
#navbar-opened {
    max-height: 400px;
}
/*------NavBar------*/




/*------NavButton------*/
#main-navbar .main-dash-color {
    background-color: snow;
}
#main-navbar button {
    border: none;
    border-color: snow;
}
/*------NavButton------*/




/*------NavMenu------*/
#navbar-menu {
    height: 100%;
    background: #e90a15;
    margin-bottom: 0px;
    margin-top: 0px;
}
#main-navbar li:hover .main-text-color  {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav-item-primary{
    font-size: 22px;
}
.nav-item-secondary{
    text-indent: 10px;
}
@media (min-width: 768px) {
    #navbar-menu {
        background: #e90a15;
    }
    .nav-item-primary {
        background: #e90a15;
        background-color: #e90a15;
    }
}
/*------NavMenu------*/


#main-view {
    padding-top: 50px;
    margin-bottom: -50px;
    background-image: url("pizza_1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*------Cards------*/
.top-row {
    margin-top: -50px;
}
.top-card {
    padding-top: 90px;
    margin-bottom: -50px;
}
.bottom-card {
    padding-top: 90px;
    margin-bottom: 40px;
}
.card-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
.card-dummy {
    margin-top: 65%; /* 4:3 aspect ratio */
}
.card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: #e90a15;
    padding: 10%;
    text-align: center;
}
.card-content p {
    font-size: 20px;
    margin-top: 5%;
    color: snow;
}
.card-content span, .card-content a {
    font-size: 30px;
    margin-top: 5%;
    color: snow;
    text-decoration: none;
}
.card-content h2 {
    color: snow;
}
.card-footer {
    background: snow;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.card-footer p, .card-footer span {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
#opening-header { 
    margin-top: 20px;
}
@media (max-width: 420px) {
    .card-content {
        padding: 8%;
    }
    .card-content p {
        font-size: 16px;
    }
    .card-content span, .card-content a {
        font-size: 24px;
    }
    .card-content h2 {
        font-size: 24px;
    }
    .card-footer {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .card-footer p, .card-footer span {
        font-size: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 332px) {
    .card-content {
        padding: 5%;
    }
    .card-content p {
        font-size: 14px;
    }
    .card-content span, .card-content a {
        font-size: 20px;
    }
    .card-content h2 {
        font-size: 20px;
    }
    .card-footer p, .card-footer span {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
/*------Cards------*/

.no-padding {
    padding: 0px;
    background: snow;
}

/*------FoodMenuList------*/
#menu-list-header {
    margin-bottom: -50px;
    padding-top: 50px;
    text-align: center;
}
.menu-info {
    font-size: 18px;
    margin-top: 4px;
}
#menu-text-color {
    margin: 0px;
    padding: 10px;
    padding-left: 18px;
    color: snow;
    background: #e90a15;
    font-weight: normal;
}
#menu-list {
    margin: 0px; /* Bootstrap lägger till margin?? (sidan blir för bred) */
    padding: 0px; /* Bootstrap lägger till padding?? (sidan blir för bred) */
}
#menu-list ul {
    margin-bottom: 0px;
}
.menu-column {
    background-color: snow;
    padding: 0px;
    z-index: -1;
}
.menu-container {
    padding-top: 50px; /* Så det går att hoppa från navbaren */
}
#menu-header {
    margin: 0px;
    padding: 10px;
    padding-left: 0px; 
    color: #e90a15;
    font-weight: normal;
}
.menu-header-price {
    padding-top: 5px;
    color: #e90a15;
    font-weight: normal;
    font-size: 14px;
}
#menu-header-continer {
    padding-left: 18px;
    padding-right: 18px;
}
#menu-item-span-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 16px;
    border-bottom: 1px solid #e90a15;
}
.menu-item-price-span-title {
	display: flex;
    justify-content: space-between;
    width: 80px;
}
/*------FoodMenuList------*/



.menu-extra {
	color: #e90a15;
    width: 85%;
    font-weight: normal;
}
.list-extra {
    padding: 0px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 10px;
    list-style: none;
}

/*------FoodMenuListItem------*/
.list-item {
    padding: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    list-style: none;
    border-bottom: 1px solid #f6f1f1;
}
#menu-item-span {
	display: flex;
    justify-content: space-between;
    width: 100%;
}
#menu-item-name {
	padding-right: 20px;
    font-weight: normal;
}
.menu-item-price-span {
	display: flex;
    justify-content: space-between;
    width: 80px;
}
.menu-item-price {
	color: #54090e;
}
.menu-item-cross {
    color: #e90a15;
    margin-right: 13px;
}
.menu-item-description {
	color: #54090e;
    width: 85%;
}
.my-text-yellow {
    color: #d2a520;
}
.my-text-green {
    color: #23ae29;
}
/*------FoodMenuListItem------*/